/* =============== GOOGLE FONTS =============== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #13E2DA, #9055FF);
  overflow-x: hidden;
}
.main{
	margin: auto;
	height: auto;
}

sup{
	font-size: 1rem;
}

.output{
	grid-column: 1 / 5;
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
}

.output .previous{
	color: rgba(255,255,255, .75);
	font-size: 1.5rem;
}
.output .current{
	color: white;
	font-size: 2.5rem;
}

.grid-calculator{
	display: grid;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(6, 100px);
	min-height: 100vh;
	justify-content: center;
	align-content: center;
}
.grid-calculator button{
	cursor: pointer;
	font-size: 2rem;
	border: 1px solid white;
	outline: none;
	text-align: center;
	background-color: #C3EAFF;
}

.grid-calculator button.operation-top{
	background-color: #FFD5D8;
	color: #FC4552;
}

.grid-calculator button.operation{
	background-color: rgb(104,218,234);
	color: rgb(14,86,97);
}

.grid-calculator button:hover{
	background-color: white;
	border: 3px solid white;
	transition: 0.5s;
}

.grid-calculator button.span-two{
	grid-column: span 2;
}

@media (max-width: 700px) or (max-height: 800px){
	.grid-calculator{
		grid-template-columns: repeat(4, 70px);
		grid-template-rows: minmax(70px, auto) repeat(6, 70px);
	}
	.grid-calculator button{
		font-size: 1.5rem;
	}
	.grid-calculator .current{
		font-size: 1.5rem;
	}
	.grid-calculator .previous{
		 font-size: 1.2rem;
	}
}

@media (max-width: 400px) or (max-height: 600px){
	.grid-calculator{
		grid-template-columns: repeat(4, 50px);
		grid-template-rows: minmax(70px, auto) repeat(6, 50px);
	}
	.grid-calculator button{
		font-size: 1.2rem;
	}
	.grid-calculator .current{
		font-size: 1.2rem;
	}
	.grid-calculator .previous{
		font-size: 0.95rem;
	}
}