/* =============== GOOGLE FONTS =============== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
  display: block;
}
.main{
	margin: auto;
	width: 1000px;
	height: auto;
}
.shopping-list .shopping-cart{
	display: grid;
	grid-template-columns: auto auto;
}
.shopping-list{
	width: auto;
	height: auto;
	background-color: #f2f4f7;
	display: grid;
	grid-template-columns: auto;
	text-align: center;
}
.shopping-list-item{
	display: grid;
	grid-template-columns: 150px auto auto auto;
	padding: 15px 0px;
}
.shopping-list-item img{
	width: 150px;
	height: 150px;
	margin-left: 20px;
}
.shopping-list-item .quantity{
	margin: auto;
	display: grid;
	grid-template-columns: auto auto auto auto;
}
.quantity a{
	text-align: center;
}
.shopping-list-item .item, h3{
	margin: auto;
}
.shopping-list-item .item-name{
	 color: #919294;
}
.shopping-list-item .btn{
	 height: 30px;
	 width: 30px;
	 background-color: #f2f4f7
}
.content{
	width: auto;
	height: auto;
	background-color: #f2f4f7;
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
}
.content-item{
	padding: 20px 0px;
	padding-bottom: 40px;
}
.content-item img{
	width: 200px;
	height: 200px;
}
.content .content-item-1{
	grid-column-start: 1;
	grid-column-end: 4;
}
.nav-bottom{
  z-index: 3;
  position: sticky;
  top: 0;
  background: white;
  height: 80px;
  width: 100%;
}
.nav-top{
  background: #f2f4f7;
  height: 60px;
  width: 100%;
}
footer{
  color: white;
  text-align: center;
  background: #306bf5;
  height: auto;
  padding: 15px;
  width: 100%;
}
.announcment{
  display: grid;
  grid-template-columns: auto auto;
  background: #306bf5;
  height: 50px;
  width: 100%;
  color: white;
  text-align: center;
  line-height: 50px;
}
.announcment-item{
  padding-left: 5px;
}
label.logo{
  color: #306bf5;
  font-size: 30px;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
}
label.logo:hover{
 cursor: pointer;
}
.ul-bottom{
  text-align: center;
  display: inline-block;
}
.ul-top{
  text-align: center;
}
.sign-in{
	margin-right: 50px;
	margin-left: 120px;
}
.li-bottom{
  display: inline-block;
  line-height: 80px;
}
.li-top{
  display: inline-block;
  line-height: 60px;
}
nav ul .li-bottom a{
  color: black;
  font-size: 16px;
  padding: 7px 13px;
  text-transform: uppercase;
}
nav ul .li-top a{
  color: #919294;
  font-size: 16px;
  padding: 7px 13px;
  text-transform: uppercase;
}

.li-bottom a.active, .li-bottom a:hover{
  border-bottom: #306bf5;
  border-bottom-style: solid;
  transition: .125s;
}
.li-top a.active, .li-top a:hover{
  color: black;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 900px){
  .main{
	  width: 100vw;
  }
  .sign-in{
	  margin-right: 0px;
	  margin-left: 40px;
  }
  .content{
	grid-template-columns: auto auto;
  }
	.content .content-item-1{
		grid-column-start: 1;
		grid-column-end: 3;
	}

}

@media (max-width: 867px){
  .main{
	  width: 100vw;
  }
  .checkbtn{
    display: block;
  }
  .sign-in{
	margin-right: 0px;
	margin-left: 0px;
}
  .ul-bottom{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #f2f4f7;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav .ul-bottom .li-bottom{
    display: block;
    margin: 50px 0;
    line-height: 5px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
	margin-top: 59px;
  }
  .shopping-list-item{
	grid-template-columns: 115px auto auto auto;
  }
  .shopping-list-item img{
	width: 100px;
	height: 100px;
	margin-left: 5px;
  }
}
@media (max-width: 600px){
	.content .content-item{
		grid-column-start: 1;
		grid-column-end: 4;
	}
	.content .content-item-1{
		grid-column-start: 1;
		grid-column-end: 4;
	}
	.shopping-list .shopping-cart{
	  font-size: 10px;
    }
}